@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
#video-grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
video {
  display: flex;
  flex: 0 1 25%;
  object-fit: cover;
  border: 5px solid #000;
  max-width: 600px;
  max-height: 400px;  
}
.main {
  height: 100vh;
  display: flex;
}
.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #dbdbd9;
  border-left: 1px solid #3d3d42;
}
.showChat .main__right {
    display: flex;
}
.showChat .main__left {
    flex: 0.8;
}
.main__videos {
  flex-grow: 1;
  flex-direction: column;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__controls {
  display: flex;
  flex-direction: row;
  background-color: #ffff00;
  color: #181515;
  padding: 3px;
  border-bottom: 3px solid #c1c401;
  justify-content: space-between;
}
.main__controls_block {
  display: flex;
  flex-direction: row;
}
.main__controls_button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}
.main__controls_button span {
  margin-top: 8px;
  display: block;
}
.main__controls_button:hover {
  background-color: #34383b;
}
.main__controls_button i {
  font-size: 17px;
}

.main__header {
  color: #181515;
  background-color: #ffffff;
  text-align: center;
  height: 86px;
  padding: 20px;
  border-bottom: 2px solid #3d3d42;
}
.main__chat__window {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 20px 0 20px;
}
.main__message_container {
  padding: 22px 11px;
  display: flex;
  background-color: #ffffff;
  border-top: 2px solid #3d3d42;
}
.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #181515;
  user-select: none;
  outline: none;
  height: 50px;
  border: 1px solid #3d3d42;
  padding-left: 20px;
}

#all_messages li {
  color: #181515;
  list-style: none;
  padding: 5px 0;
  text-align: right;
}
#all_messages li b {
    display: block;
    font-size: 10px;
}
#all_messages li.otherUser {
    text-align: left;
}
#all_messages li div {
    display: inline-block;
}
.unmute {
  color: red;
}

.sendMsg {
    width: 50px;
    font-size: 22px;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: #000000;
}

.showInvite .invitePopup {
  display: flex;
  background-color: #000;
}

/*@media (max-width: 640px) {
    .main__controls {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .main__controls_button span {
        display : none;
    }

    .showChat .main__right {
        display: flex;
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        opacity: 0.8;
    }
    .showChat .main__left {
        flex: 1;
    }
    video {
        max-width: 100%;
        width: 50% !important;
        max-height: 190px;
    }
    #video-grid {
        justify-content: flex-start;
        align-items: initial;
    }
} */


.bottombox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100%; */
  border: 1px solid #3d3d42;
  background-color: #242324;
}
.studyType button {
  display: flex;
  /* width: 80px;
  height: 40px; */
  margin: 15px 10px;
}
.timerBox{
  width: 200px;
  display: flex;
  justify-content: center;
}
.timerBox .time{
  font-size: 30pt;
  padding-top: 5px;
  padding-right: 5px;
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
}
.btnBox{
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  text-align: center;
}
.btnBox .fa{
  margin: 0px 5px;
  font-size: 25pt;
  color: #fff;
  cursor: pointer;
}

.modal {
  text-align: center;
}
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}